@font-face {
  font-family: "Pacifico";
  src: url("../fonts/pacifico-regular.woff2") format("woff2"), url("../fonts/pacifico-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.heading-1,
.heading-2,
.heading-3 {
  font-family: "Pacifico", sans-serif;
}

.heading-2 {
  font-size: 2rem;
}

.paragraph {
  line-height: 1.5em;
}

.highlight {
  font-weight: 700;
}

.link {
  color: #9FDF9F;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.25s ease;
}
.link:hover, .link:focus {
  color: #b2e5b2;
}
.link svg {
  height: 1em;
  max-width: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font: 400 100%/1 "Lato", sans-serif;
}

body {
  box-sizing: border-box;
  color: #404040;
}

ul {
  list-style: none;
  list-style-type: none;
}

a {
  cursor: pointer;
}

mark {
  background-color: transparent;
  color: currentColor;
}

.container--center {
  background-color: #F7FCF7;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
@media (min-width: 27.5rem) {
  .container--center {
    padding: 0 2rem;
  }
}

.block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 32rem;
  margin: 3rem 0;
}
.block__logo {
  height: 4rem;
  margin-bottom: 2rem;
}
.block__link {
  align-self: flex-start;
  margin-bottom: 1rem;
}
.block__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.block__button {
  flex: 0 0 50%;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem #00000020;
}
.form__heading {
  margin-bottom: 2rem;
}
.form__description {
  color: #BFBFBF;
  margin-bottom: 2rem;
}
.form__label {
  display: block;
  text-transform: uppercase;
  color: #9FDF9F;
  margin-bottom: 0.5rem;
}
.form__label--checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.form__group {
  position: relative;
  margin-bottom: 1rem;
}
.form__input--text, .form__input--password, .form__input--email {
  width: 100%;
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  color: #404040;
  border-radius: 0.25rem;
  padding: 0.5em;
  border: 0.125rem solid #E5E5E5;
  transition: border-color 0.25s ease;
}
.form__input--text:hover, .form__input--text:focus, .form__input--password:hover, .form__input--password:focus, .form__input--email:hover, .form__input--email:focus {
  border-color: #BFBFBF;
}
.form__input--hidden {
  display: none;
}
.form__input--hidden:checked + label > div > div {
  transform: translate(-50%, -50%) scale(0.75);
}
.form__input--checkbox {
  position: relative;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border: 0.125rem solid #9FDF9F;
  border-radius: 0.25rem;
}
.form__input--checkbox div {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #9FDF9F;
  border-radius: 0.125rem;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.25s ease;
}
.form__input--error {
  border-color: #DF9F9F;
  padding-right: 3rem;
}
.form__input--error + .form__error-icon {
  opacity: 1;
  pointer-events: all;
}
.form__button {
  font-family: "Lato", sans-serif;
  margin-top: 1rem;
}
.form__help {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
  color: #BFBFBF;
  transition: color 0.25s ease;
  text-decoration: none;
}
.form__help svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}
.form__help:hover, .form__help:focus {
  color: #d9d9d9;
}
.form__error {
  position: absolute;
  right: 0rem;
  bottom: 2.75rem;
  background-color: #DF9F9F;
  border-radius: 0.25rem;
  color: #FFFFFF;
  padding: 1rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(0rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.form__error-text {
  margin-bottom: 0.5em;
  font-weight: 700;
}
.form__error-item:not(:last-child) {
  margin-bottom: 0.5em;
}
.form__error-item svg {
  height: 0.75em;
  fill: #FFFFFF;
}
.form__error-item--missing {
  opacity: 0.5;
}
.form__error-icon {
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
  height: 1.5rem;
  fill: #DF9F9F;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.form__error-icon:hover, .form__error-icon--fixed {
  cursor: pointer;
  transform: scale(1.1);
}
.form__error-icon:hover + .form__error, .form__error-icon--fixed + .form__error {
  opacity: 1;
  transform: translateY(-0.5rem);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background-color: #00000020;
  backdrop-filter: blur(0.25rem);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}
@media (min-width: 27.5rem) {
  .modal {
    padding: 0 2rem;
  }
}
.modal--active {
  pointer-events: all;
  opacity: 1;
}
.modal--active > .modal__content {
  transform: scale(1);
}
.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem #00000020;
  transform: scale(0.9);
  transition: transform 0.5s ease;
}
.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 1rem;
  fill: #BFBFBF;
  cursor: pointer;
  transition: fill 0.25s ease;
}
.modal__close:hover {
  fill: #808080;
}
.modal__heading {
  margin-bottom: 1rem;
}
.modal__description {
  color: #BFBFBF;
  margin-bottom: 1rem;
}

.button {
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25em;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}
.button--green-fill {
  background-color: #9FDF9F;
  color: #FFFFFF;
  transition: background-color 0.25s ease;
}
.button--green-fill:hover, .button--green-fill:focus {
  background-color: #b2e5b2;
}
.button--green-outline {
  color: #9FDF9F;
  border: 0.125rem solid currentColor;
  transition: color 0.25s ease;
}
.button--green-outline:hover, .button--green-outline:focus {
  color: #b2e5b2;
}
.button--big {
  font-size: 1.25rem;
}
.button--purple-fill {
  background-color: #9F9FDF;
  color: #FFFFFF;
  transition: background-color 0.25s ease;
}
.button--purple-fill:hover, .button--purple-fill:focus {
  background-color: #b2b2e5;
}

.reset-password {
  position: relative;
  transition: max-height 0.5s ease;
}
.reset-password__step {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(1rem);
  opacity: 0;
}
.reset-password__step--active {
  display: flex;
  position: relative;
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.reset-password__step--exit {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-1rem);
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
