@use "../1_abstracts/" as *;
.container {
    &--center {
        background-color: $color-green-light;
        width: 100vw;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        @include responsive($screen-mobile-s) {
            padding: 0 2rem;
        }
    }
    &--grid {
        display: grid;
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: [navigation-start] max-content [navigation-end header-start] max-content [header-end main-start] max-content [main-end];
    }
    &--fixed {
        height: 100vh;
        overflow: hidden;
    }
}