// COLORS
$color-green: #9FDF9F;
$color-purple: #9F9FDF;
$color-red: #DF9F9F;
$color-green-light: #F7FCF7;
$color-white: #FFFFFF;
$color-grey-90: #E5E5E5;
$color-grey-75: #BFBFBF;
$color-grey-50: #808080;
$color-grey-25: #404040;
$color-shadow: #00000025;
// SCREEN SIZES
$screen-mobile-s: 20rem;
$screen-mobile-m: 27.5rem;
$screen-mobile-l: 35rem;
$screen-tablet-s: 42.5rem;
$screen-tablet-m: 50rem;
$screen-tablet-l: 57.5rem;
$screen-desktop-s: 65rem;
$screen-desktop-m: 72.5rem;
$screen-desktop-l: 80rem;