@use "../1_abstracts/" as *;
.button {
    &--big {
        font-size: 1.25rem;
    }
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25em;
    font-weight: 700;
    font-family: "Lato",
    sans-serif;
    font-size: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    &--green-fill {
        background-color: $color-green;
        color: $color-white;
        transition: background-color 0.25s ease;
        &:hover,
        &:focus {
            background-color: lighten($color-green, 5%);
        }
    }
    &--green-outline {
        color: $color-green;
        border: 0.125rem solid currentColor;
        transition: color 0.25s ease;
        &:hover,
        &:focus {
            color: lighten($color-green, 5%);
        }
    }
    &--purple-fill {
        background-color: $color-purple;
        color: $color-white;
        transition: background-color 0.25s ease;
        &:hover,
        &:focus {
            background-color: lighten($color-purple, 5%);
        }
    }
    &--purple-outline {
        color: $color-purple;
        background-color: transparent;
        border: 0.125rem solid currentColor;
        transition: color 0.25s ease;
        &:hover,
        &:focus {
            color: lighten($color-purple, 5%);
        }
    }
    &--white-fill {
        background-color: $color-white;
        color: $color-purple;
        transition: background-color 0.25s ease;
        &:hover,
        &:focus {
            background-color: darken($color-white, 5%);
        }
    }
    &--white-outline {
        color: $color-white;
        background-color: transparent;
        border: 0.125rem solid currentColor;
        transition: color 0.25s ease;
        &:hover,
        &:focus {
            color: darken($color-white, 5%);
        }
    }
}