@use "../1_abstracts/" as *;
.quote {
    background-color: $color-grey-25;
    padding: 1.5rem;
    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__heading {
        margin-bottom: 1rem;
    }
    &__text {
        font-style: italic;
        line-height: 1.5;
        margin-bottom: 0.5rem;
    }
    &__author {
        margin-bottom: 1rem;
    }
    &__like {
        align-self: flex-end;
        background-color: $color-white;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        // transition: background-color 0.25s ease;
        &:hover,
        &--checked {
            background-color: $color-green;
            .quote__icon {
                fill: $color-white;
            }
        }
    }
    &__icon {
        fill: $color-green;
        height: 50%;
        // transition: fill 0.25s ease;
    }
}